<mat-tab-group dynamicHeight>
  
  <mat-tab label="Connexion" i18n-label>
    <app-connexion></app-connexion>
  </mat-tab>
  <mat-tab label="Liste de véhicules" i18n-label>
    <app-liste-vehicules></app-liste-vehicules>
  </mat-tab>
  <mat-tab label="Liste de véhicules par type" i18n-label>
    <app-liste-vehicules-type></app-liste-vehicules-type>
  </mat-tab>
  <mat-tab label="Ajouter un véhicule" i18n-label>
    <app-ajout-vehicule></app-ajout-vehicule>
  </mat-tab>
  <mat-tab label="Modifier un véhicule" i18n-label>
    <app-modifier-vehicule></app-modifier-vehicule>
  </mat-tab>
  <mat-tab label="Statistiques" i18n-label>
    <app-statistiques></app-statistiques>
  </mat-tab>

</mat-tab-group>