<form *ngIf="showForm" #connexionForm="ngForm" (ngSubmit)="connexion()">
  
    <div>
        <mat-form-field>
            <mat-label i18n>Courriel</mat-label>
            <input matInput [(ngModel)]="utilisateur.email" name="email" type="email" ngModel email="true" required  >
            <mat-error i18n>L'adresse courriel est invalide</mat-error>
          </mat-form-field>
          
    
        <mat-form-field>
          <mat-label i18n>Mot de passe</mat-label>
          <input matInput [(ngModel)]="utilisateur.password" name="password" type="password" required>
        </mat-form-field>
    
        <button  i18n mat-raised-button color="primary" type="submit" [disabled]="!connexionForm.valid">Se connecter</button>
      </div>
    </form>

<button *ngIf="showDeconnexion" i18n mat-raised-button color="primary" (click)="deconnexion()">Se déconnecter</button>

    